<h1>Chatbox Coderhouse</h1>


<div class="chat">

    <div>
        <p id="mensajes"> </p>
    </div>
    <div>
        <input type="text" id="chatbox" placeholder="Ingresa tu mensaje">
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/index.js"></script>